@keyframes opacityOnAndOff {

    0%{
        background:white;
        top:-10%;
    }

    /* 25%{
        top: 0%;
        background:red;
    } */

    50% {
        top: 0%;
        background:red;
    }

    75%{
        top: 0%;
        background:red;
    }

    100%{
        top:-10%;
        background:white;
       
    }
}

.error {
    background: red;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: white;
    top: 20%;
    width:100%;
    animation-name: opacityOnAndOff;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count:1;
    animation-play-state:running;
    animation-fill-mode:forwards;
}


body{
    margin: 0px;
    padding: 0px;
}


@media screen and (max-width:768px){
    div.col-12{
            text-align:center;
            float:left;
            font-size:15px;
            width:100%;
            padding:15px;
        }
    }
}    
    
.content{
    width:100%;
    overflow:hidden;
}

/* First section background */

.section1{
    height: 100vh;
    width: 100%;
    background-image:url("../images/background.svg");
    background-size:cover;
}

/* Second and Third section background */

.section2,.section3{
    background-image:url("../images/background.svg");
    background-size:cover;
}

/* Headings for the three sections*/

.heading{
    color:black;
    font-size:40px;
    text-align:center;
    padding:60px;
    padding-top:70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row:after{
    display:table;
    content: "";
    clear: both;
}

a{
    color:black;
    text-decoration:none;
}

a:hover{
    color:black;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ffe699;
    border-radius: 15px;
    box-sizing: border-box;
    
    }

input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        background-color: transparent;
}

/*Classes inside the field boxes*/
.field{         
    border : 2px solid yellow;
    border-radius : 10px;
    outline: none;
    padding : 5px;
    min-width : 20%;            
    text-align:center;
    color:black;
    font-size:16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cover {
    margin : 10px 0 10px 0;
}

.newfield{
    text-align:center;
    color:black;
    padding:15px;
    font-size:15.5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.red::placeholder{
    color: red;
}

.dscvit{
    padding-top:60px;
    padding-bottom:80px;
    
}

.dsclabel{
    color:rgb(105, 104, 104);
    font-size:25px;
   text-align:left;
   padding:0px;
    margin-top:2px;

}

.logo{
    text-align:right;
    padding:0px;
    margin:0px;
}

.sclabel{
    font-size:22px;
    text-align:left;
    padding:0px;
    margin-top:2px;   
}

textarea,select {
    resize: none;
    height: 300px;
    outline: none;
 }

.snapchat{
    float:right;
    text-align:left;
    padding-top:60px;
    padding-bottom:80px;
}

input[type=password], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ffe699;
    border-radius: 15px;
    box-sizing: border-box;
    }

    button, select {
        width: 20%;
        padding: 20px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 15px;
        box-sizing: border-box;
        background-color: #ffe699;
        border: 0px; 
        
    }

    .col-12{
        text-align:center;
        float:left;
        font-size:15px;
        width:100%;
        padding:15px;
    }

/*Description field*/
    textarea, select{
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 10px;
        box-sizing: border-box;
        border: 5px solid #ffe699;
    }

    input[type=button], select {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 15px;
        box-sizing: border-box;
        border: 5px solid #ffe699;
        background-color:#FFFDE7;
        outline: none;
        }

        input[type=textarea], select {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: solid #ffe699;
            }